body {
        height: 100%;
        margin: 0;
        overflow-x: hidden;
        background-color: black;
}

header .left {
        float: left;
        position: absolute;
        top: 0px;
}

header .right {
       align-content: center;
    width: 92%;
    position: absolute;
    z-index: 3;
    color: white;
    top: 30px;
    left: 130px;
}

.servicios{
      width: 100%;
    font-size: 40px;
    margin: 70px 0px;
    color: white;
    font-weight: 800;
    font-family: sans-serif;
    text-align: center;
}

.servicios p{
     font-weight: 300;
    font-size: 20px;
    max-width: 990px;
    margin: 0 auto;
    text-wrap: pretty;
}

.serviciosimg{
            width: 100%;
}

.serviciosimg img{
            width: 370px;
            margin-top: 30px;
            margin-left: 40px;
            display: inline-block;
}

#footerprincipal{
            background-color: black;
    color: white;
    background: black;
    color: white;
    position: absolute;
    top: 1785px;
    width: 100%;
    height: 100px;
    padding: 40px; 
    margin-left: 200px;
}

#footerprincipal .logoo{
        margin-right: 20px;
}

.enlacesprincipales{
           display: inline-block;
    margin-left: 280px;
    font-family: sans-serif;
}

.h3cta {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
}

.overlay.expandido {
    position: absolute;
    top: 49%;
    left: 72%;
    transform: translate(-50%, -50%) scale(2);
    z-index: 999;
    /* height: 35%; */
    /* width: 200px; */
    background: white;
    padding: 20px 100px;
    border-radius: 10px;
    text-align: center;
}

.cerrar{
            position: relative;
    right: 228px;
    bottom: 238px;
}
.cerrar:hover{
        cursor: pointer;
}

.comprar-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comprar-btn:hover {
    background-color: #cc0000;
}

body.modal-activo {
    overflow: hidden;
}

.ctabutton {
        background-color: red;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border: transparent;
        cursor: pointer;
        top: 290px;
        margin-top: 40px;
}

.headertienda {
        position: relative;
        width: 100%;
        height: 90px;
        overflow: hidden;
        background-color: black;
}

header .right button{
        padding: 10px 20px;
        margin-left: 20px;
        background-color: transparent;
        border: none;
        color: white;
}

header .right .contacto {
            background-color: red;
    /* border: transparent; */
    color: white;
    font-family: sans-serif;
    width: max-content;
    padding: 10px;
    transition: 0.5s;
    border-radius: 40px;
    width: 130px;
}

header .right button:hover {
        cursor: pointer;
        text-decoration: underline;
}

header .left img {
        width: 70px;
}

.logocta{
            width: 600px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.ctafondoo{
          width: 100%;
    height: 670px;
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: fill;
    z-index: -1;
}

.programas{
        background: red;
    height: 190px;
    border-radius: 0px 0px 50px 80px;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 560px;
}

.programas p{
          display: inline-block;
    position: relative;
    top: 108px;
    font-size: 20px;
    font-weight: bold;
}

.programas img{
           display: inline-block;
    position: relative;
    top: 125px;
    width: 50px;
}

.subcta{
            width: 100%;
    height: max-content;
    text-align: center;
    align-items: center;
    height: 80px;
}

.subcta p{
        display: inline-block;
        margin-left: 90px;
        font-weight: bold;
        font-family: sans-serif;
}
/* ===== VIDEO BACKGROUND PERFECTO ===== */

header {
          position: relative;
    width: 100%;
    height: 760px;
    overflow: hidden;
}

header .bgvideo {
        position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: brightness(39%);
    border-radius: 0px 0px 140px 140px;
}

.contacto {
        position: absolute;
        right: 30px;
}
.cta{
         text-align: center;
    width: 100%;
    margin-top: 140px;
    color: white;
    font-family: sans-serif;
    font-size: 26px;
}

.servicios h3{
            /* width: 100%; */
    font-weight: 800;
    position: relative;
    /* left: 350px; */
    text-wrap: 20px;
    text-align: -webkit-center;
}

main .cta {
        background-image: url(7849232-uhd_2160_4096_25fps.mp4);
        height: 260px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        padding: 10px;
        margin-top: 0px;
        position: absolute;
        top: 0;
        width: 100%;
}

.cta .black {
        background-color: rgba(0, 0, 0, 0.705);
        height: 460px;
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: -1;
}

.cta .black p {
        color: white;
        width: 100%;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        font-family: sans-serif;
        margin-top: 180px;
}

.cta .black button {
        background-color: transparent;
        border-radius: 5px;
        color: red;
        border: 2px solid red;
        font-family: sans-serif;
        width: max-content;
        padding: 10px;
        margin-left: 45%;
        transition: 0.5s;
        animation: identifier 1s ease-in-out infinite;
}

.cta .black button:hover {
        cursor: pointer;
        background-color: red;
        border-radius: 5px;
        color: white;
}

.overlay_Noanimado{
        margin: 50px;
}
.overlay_Noanimado img {
            width: 280px;
            border: 4px solid red;
            border-radius: 20px;
}

.overlay_Noanimado .overlay{
        display: inline-block;
        margin-left: 25px;
        cursor: pointer;
}

.overlay_Noanimado video{
        width: 280px;
            border: 4px solid red;
            border-radius: 20px;

}

.buscadorr p{
            color: white;
    font-family: sans-serif;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.buscadorr select{
           display: inline-block;
    margin-left: 20px;
    background-color: black;
    border: 2px solid red;
    color: red;
    padding: 5px 10px;
    border-radius: 6px;
    padding-right: max;
}

.buscadorr button{
            padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    width: 110px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
}

.right a{
        text-decoration: none;
}

@keyframes identifier {
        0% {
                box-shadow: 0px 0px 0px 0px red;
        }

        100% {
                box-shadow: 0px 0px 10px 10px red;
        }
}

.proyectos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        padding: 30px;
        margin-left: 20px;
}

.proyecto {
        background: red;
        padding: 30px;
        font-family: sans-serif;
        text-align: center;
        color: black;
        border-radius: 10px;

        /* 🔥 Esto hace que todas midan igual */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: max-content;
}

.productos {
        width: 96%;
        height: 610px;
        padding: 30px;
}

.cartelapertura {
        padding: 10px 20px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 5px;
    text-align: center;
    background-color: gray;
    width: 60px;
    height: 10px;
    position: absolute;
    top: 0px;
    left: 380px;
}

.producto {
        width: 210px;
        padding: 30px;
        background: #80808038;
        border-radius: 10px;
        display: inline-block;
        margin-left: 20px;
        height: max-content;
        margin-top: 20px;
        background:rgb(255, 255, 255);
        color: red;
        font-weight: bold;
        font-family: sans-serif;
}

.paypal-container iframe button{
        width: 100%;
}

.producto button {
        background-color: red;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: transparent;
        cursor: pointer;
}

html {
        width: 100%;
}
.parrafomolestias{
       position: absolute;
    top: 510px;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    left: 380px;
    color: white;
}

.logoindexcontruction{
         width: 500px;
    margin: 260px 530px;
}

@media screen and (max-width: 768px) {
        header {
                flex-direction: column;
                align-items: center;
                height: auto;
        }

        header .right {
    display: flex;
    flex-direction: column;
    align-items: center; /* centra los botones y el cartel */
    gap: 10px;           /* espacio entre botones y cartel */

        }

        .producto {
                margin-top: 20px;
        }

        .contacto {
                position: static;
                margin-top: 10px;
        }

        
        .logoindexcontruction{
                width: 260px;
        margin: 260px 60px;
        }


        .parrafomolestias{
           position: absolute;
    top: 380px;
    left: 0;
    width: 95%;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-align: center;
    word-wrap: break-word;
}

}


form {
        width: 190px;
        padding: 40px;
        background: red;
        position: relative;
        align-content: center;
        border-radius: 10px;
        left: 710px;
        top: 180px;
        line-height: 30px;
}

footer {
        background-color: black;
        color: white;
        background: black;
        color: white;
        position: relative;
        top: 435px;
}

@media screen and (max-width: 1300px){
        .h3cta{
                font-size: 40px;
        }
}


.title1{
        text-align: left;
        width: 100%;
        margin-top: 50px;
        padding-left: 50px;
        font-size: 20px;
        font-family: sans-serif;
}

@keyframes infinite {
        from {
                left: -1600px;
        }
        to {
                left: 100%;
        }
}

.ctanavidad{
        animation: infinite 10s linear infinite;
}

.headertienda{
            position: relative;
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: black;
}